.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  height: 78%;
  width: 100%;
}

.heroContainer {
  height: 100%;
  width: 80%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroText > div {
  font-size: 6rem;
  margin-bottom: 2rem;
}

.heroContainer > span {
  font-size: 2rem;
}

.buttonContainer {
  margin-top: 2rem;
}

.button > button {
  padding: 1em 1.4em;
  margin-right: 1rem;
  font-size: 1.2rem;
  border-radius: 20rem;
  transition: .2s;
}

.signupButton {
  border: 1px solid;
  color: #fff;
  background: #6750A4;
}

.loginButton {
  background: transparent;
  border: 1px solid #222;
  color: #6750A4;
}

.nestContainer {
  margin-left: 8rem;
}

.nest {
  border-radius: 10rem;
  box-shadow: 0 0 20px #DAA765;
}

@media(hover:hover) {
  .signupButton:hover {
    cursor: pointer;
    background: #7F67BE;
  }
  
  .loginButton:hover {
    cursor: pointer;
    background: #f6edff73;
    filter: brightness(95%);
    backdrop-filter: blur(4px);
  }
}